<h1 class="text-center">
	<a href="/">
		{{pageTitle | uppercase}} <!-- Hint = Interpolation data binding of AngularLearningApp component's property + Transforming to uppercase using Angular's built-in Pipe -->
	</a>
</h1><br> 

<p class="bg-info text-center">learning-app.component = Demo of Interpolation for data binding + Transforming to uppercase using built-in Pipe + Navigations and Routing</p>

<div class="container">			
	
	<div class='container'>
	    <nav class='navbar navbar-inverse'>
	        <div class='container-fluid'>            
	            <ul class='nav navbar-nav'> <!-- Hint = Configuring Routes to Actions -->           	
	                <li><a [routerLink]="['/welcome']">Welcome</a></li>
	                <li><a [routerLink]="['/books']">Books</a></li>                              
	            </ul>
	        </div>
	    </nav>
    </div>
    
    <div class='container'>
        <router-outlet></router-outlet> <!-- Hint = Inform Angular for placing the view of given RouterLink's component -->
    </div>
 </div>